html {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  margin-bottom: 60px;
  background-color: rgba(41, 47, 51, 1);
  font-family: 'Roboto Condensed', sans-serif;
  color: #f0f0fa;
  color: #B9B9B9;
  line-height: normal;
}

hr {
  border-top-color: rgba(66, 77, 86, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
}

a, a:visited, a:focus, a:active {
  text-decoration: none;
  color: #67DE8B;
  transition: color 0.5s ease;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
  color: #C7F9D6;
}

li {
  font-size: 20px;
}

a > li {
  font-weight: normal;
}

a > i {
  font-weight: normal;
}

p {
  margin: 15px 0px 15px 0px;
  text-indent: 10px;
  font-size: 150%;
}

em {
  padding-right: 2px;
}

p > i {
  margin-right: 4px;
}

blockquote {
  text-align: right;
  border-left: 0px solid transparent;
  border-right: 2px solid #424B54;
}

pre {
  border-radius: 1px;
  border: 0px;
  word-wrap: normal;
  background-color: #2C3338;
}

code {
  border-radius: 1px;
  color: #FF8976;
  padding: 0px;
  background-color: #2C3338;
}

p > code {
  font-weight: normal;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  letter-spacing: 2px;
  padding-left: 1px;
}

pre code {
  white-space: pre;
}

.absolute-top {
  position: absolute;
  top: 0px;
}

.nav-bar-container {
  position: fixed;
  z-index: 100;
  top: inherit;
  left: 50%;
  bottom: 0;
  margin-bottom: 0px;
  transform: translateX(-50%);
}

.nav-bar-buttons-container {
  display: flex;
}

.nav-bar-buttons-container a:nth-child(1) {
  animation-duration: 1s;
  animation-name: flash-green;
  animation-delay: 1s;
}
.nav-bar-buttons-container a:nth-child(2) {
  animation-duration: 1s;
  animation-name: flash-green;
  animation-delay: 1.2s;
}
.nav-bar-buttons-container a:nth-child(3) {
  animation-duration: 1s;
  animation-name: flash-green;
  animation-delay: 1.4s;
}
.nav-bar-buttons-container a:nth-child(4) {
  animation-duration: 1s;
  animation-name: flash-green;
  animation-delay: 1.6s;
}
.nav-bar-buttons-container a:nth-child(5) {
  animation-duration: 1s;
  animation-name: flash-green;
  animation-delay: 1.8s;
}
.nav-bar-buttons-container a:nth-child(6) {
  animation-duration: 1s;
  animation-name: flash-green;
  animation-delay: 2s;
}
.nav-bar-buttons-container a:nth-child(7) {
  animation-duration: 1s;
  animation-name: flash-green;
  animation-delay: 2.2s;
}

.nav-bar-background {
  background-color: rgba(41, 47, 51, 1.0);
  border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f0f0fa;
}

.nav-bar-link {
  border-bottom: 5px solid #424B54;
  transition: border-bottom-color 0.5s ease;
  margin-right: 10px;
}

.nav-bar-link:hover, .nav-bar-link:focus {
  border-bottom-color: #67DE8B;
}

.nav-bar-link > a {
  font-weight: normal;
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
}

.nav-bar-button-container {
  position: relative;
  width: 80px;
  height: 70px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.nav-bar-button-container:hover {
  background-color: rgba(104, 222, 139, 1.0);
}

.nav-bar-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar-icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
}


.nav-bar-icon:hover, .nav-bar-icon:focus {
  border-bottom-color: #67DE8B;
}

.nav-bar-button-container-last {
  margin-right: 0px;
}

.lettier-icon {
  position: relative;
  top: 11px;
  padding-bottom: 20.5px;
  line-height: 20px;
  cursor: pointer;
}

.lettier-icon:hover, .lettier-icon:focus {
  border-bottom-color: #67DE8B;
}

.lettier-icon-img {
  width: 30px;
  height: auto;
}

.jumbotron {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.jumbotron-background-image {
  background: url("/images/jumbotron_image_default.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron-text-position-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 400px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
}

.jumbotron-text-width-container {
  width: 95%;
}

.jumbotron-text {
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  line-height: 1.4;
}

.jumbotron-text-background {
  background-color: rgba(41, 47, 51, 1.0);
  opacity: 1.0;
  display: inline;
  box-shadow: 20px 0 0 rgba(41, 47, 51, 1.0), -20px 0 0 rgba(41, 47, 51, 1.0);
  box-decoration-break: clone;
}

.title-cursor {
  color: rgb(103, 222, 139);
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

.content-container {
  margin-top: 110px;
  line-height: normal;
}

.figure {
  text-align: center;
}

.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5 {
  border-left: 2px solid #67DE8B;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-body h4, .post-body h5, .post-body h6 {
  font-weight: 100;
  letter-spacing: 0.5px;
}

.post-img {
  margin-top: 20px;
}

.post-img-fill {
  width: 100%;
}

.post-img-limit {
  max-width: 100%;
}

.post-img-small {
  margin-bottom: 20px;
}

.post-list {
  padding-left: 0px;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  margin-top: 30px;
}

.post-list-item {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0%;
  width: 32%;
}

.post-list-item a {
  width: 100%;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post-preview-cell {
  background-size: cover;
  text-align: right;
  width: 100%;
}

.post-preview-cell-text-container {
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 15px;
  width :100%;
  height: 0px;
  padding-bottom: 100%;
  margin-bottom: 3%;
}

.post-image-link-cell-color {
  background-color: transparent;
  color: whitesmoke;
  transition: color 0.5s ease, border-bottom 0.5s ease, background-color 0.5s ease;
}

.post-image-link-cell-color:hover, .post-image-link-cell-color:focus {
  background-color: rgba(103, 222, 139, 0.9);
  color: white;
}

.post-preview-cell-text {
  background-color: rgba(41, 47, 51, 1.0);
  display: inline;
  box-shadow: 16px 0 0 rgba(41, 47, 51, 1.0), -15px 0 0 rgba(41, 47, 51, 1.0);
  box-decoration-break: clone;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 1.45;
  word-spacing: 5px;
}

.post-header {
  display: block;
}

.post-body {
  margin-top: 30px;
  clear: both;
  line-height: 2.2;
}

.post-body-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-footer {
  width: 100%;
  margin-top: 50px;
  clear: both;
}

.post-footer-cta {
  border-left: 2px solid #424B54;
  padding-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.post-footer-copyright {
  margin-top: 10px;
}

.display-left{
  display: inline-block;
  float: left;
}

.display-right{
  display: inline-block;
  float: right;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-spacer {
  padding-top: 20px;
  display: block;
}

.caption {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid #424B54;
}

.sourceCode {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #f0f0fa;
}

.sourceCode span.kw {
  color: #67DE8B;
  font-weight: bold;
}

.sourceCode span.fl {
  color: #67DE8B;
}

.sourceCode span.fu {
  color: #95B3FF;
}

.sourceCode span.dt {
  color: #FFB559;
}

.sourceCode span.st {
  color: #4A9CE0;
}

.sourceCode span.dv {
  color: #2EDE86;
}

.sourceCode span.ot {
  color: #FF90B9;
}

@keyframes flash-green {
  0% {
    background-color: rgba(41, 47, 51, 1.0);
  }

  50% {
    background-color: rgb(103, 222, 139);
  }

  100% {
    background-color: rgba(41, 47, 51, 1.0);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 1367px) {
  .jumbotron-text {
    font-size: 540%;
  }
}

@media (max-width: 1366px) {
  .jumbotron-text {
    font-size: 540%;
  }
}

@media (max-width: 1199px) {
  .jumbotron-text {
    font-size: 520%;
  }
}

@media (max-width: 1024px) {
  .jumbotron-text {
    font-size: 490%;
  }
}

@media (max-width: 991px) {
  .jumbotron-text {
    font-size: 379%;
  }

  .post-list-item {
    width: 49%;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    float: left;
    margin-bottom: 0px;
  }

  .nav > li {
    float: left;
  }
}

@media (max-width: 736px) {
  .jumbotron-text {
    font-size: 391%;
  }
}

@media (max-width: 732px) {
  .jumbotron-text {
    font-size: 389%;
  }
}

@media (max-width: 530px) {
  .jumbotron-text {
    font-size: 310%;
  }

  .post-list-item {
    width: 99%;
  }
}

@media (max-width: 425px) {
  .nav-bar-container {
    margin-bottom: 0px;
    margin-top: 20px
  }

  .nav-bar-button-container {
    width: 50px;
    height: 50px;
  }

  .navbar-fixed-top {
    top: auto;
    bottom: 0px;
  }

  .post-preview-image {
    display: none;
  }

  .post-preview-table-cell-text {
    padding-left: 0px;
  }

  .post-list-item {
    margin-left: 0px;
  }

  .vertical-center {
    top: 50%
  }
}

@media (max-width: 414px) {
  .jumbotron-text {
    font-size: 290%;
  }

  p > code {
    font-size: 80%;
  }

  .nav > li {
    font-size: 17px;
    top: 0px;
  }

  .nav-bar-icon {
    font-size: 20px;
  }

  .lettier-icon {
    line-height: 1.96;
    padding-bottom: 24px;
  }

  .lettier-icon-img {
    width: 20px;
    height: 20px;
  }

  .post-list-item {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .jumbotron-text {
    font-size: 265%;
  }
}

@media (max-width: 320px) {
  .jumbotron-text {
    font-size: 250%;
  }

  .nav-bar-button-container-second-last {
    margin-right: 0px;
  }

  .nav-bar-button-container-last {
    display: none;
  }

  .date-author {
    margin-top: 10px;
  }
}

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(fonts/oswald_latin_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(fonts/oswald_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/roboto_condensed_cyrillic_ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/roboto_condensed_crrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/roboto_condensed_greek_ext.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/roboto_condensed_greek.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/roboto_condensed_vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/roboto_condensed_latin_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/roboto_condensed_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
