<ul class="post-list">
  $for(posts)$
    <li class="post-list-item">
      <a href="$url$" title="$title$">
        <div class='post-preview-cell'
          style='background-image: url($if(preview_image)$$preview_image$$else$/images/preview_image_default.jpg$endif$);'>
          <!--https://pixabay.com/en/bollard-pier-port-catwalk-sea-589043/-->
          <div class='post-preview-cell-text-container'>
            <div class='post-preview-cell-text'>
              $title$
            </div>
          </div>
        </div>
      </a>
    </li>
  $endfor$
</ul>
