<div class="post-header">
  <div class="display-left">
  </div>
  <div class="display-right date-author">
    <p>$date$ &nbsp; <i class="fa fa-calendar"></i></p>
    $if(author)$
      <p>$author$ &nbsp; <i class="fa fa-user"></i></p>
    $endif$
  </div>
</div>
<div class="post-body">
  $body$
</div>
<div class="post-footer">
  <div class="display-left">
    <h2 class="post-footer-cta">
      Don't miss out&mdash;click <a href="/posts.html" title="posts">posts</a> for more content.
      <!--Return to the <a href="#top" title="top">top</a>.-->
    </h2>
  </div>
  <div class="display-right text-align-right post-footer-copyright">
    <h4>
      <i class="fa fa-copyright"></i> <span id="copyrightYear">2015</span> $author$.
    </h4>
  </div>
</div>
<script>
  (function () {
    document.getElementById('copyrightYear').innerHTML = new Date().getFullYear();
  })();
</script>
