<div class="post-body">
  $body$
</div>
<div class="post-footer">
  <div class="display-left">
    <h2 class="post-footer-cta">
      Hi there!
      <a href="/" title="Home">Browse</a>
      and subscribe to the
      <a href="/rss.xml" type="application/rss+xml" target="_blank" title="RSS">RSS feed</a>
      for more content.
    </h2>
  </div>
  <div class="display-right text-align-right post-footer-copyright">
    <h4>
      <i class="fa fa-copyright"></i> <span id="copyrightYear">2017</span> $author$
    </h4>
  </div>
</div>
